In [1]:
import psycopg2
import pandas as pd
import pandas.io.sql as pdsql
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt 

from pandas.tools.plotting import scatter_matrix
from sklearn import cross_validation as cv
from sklearn.cross_validation import train_test_split as tts
from sklearn.decomposition import PCA
from sklearn.feature_selection import SelectFromModel
from sklearn.linear_model import Ridge, RandomizedLasso, ElasticNet, LinearRegression
from sklearn.ensemble import RandomForestRegressor

from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error as mse

/Users/gbq483/anaconda/lib/python2.7/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
con=psycopg2.connect(dbname= 'DCZillow', 
                     host='dczillow.cfdlhqngxmri.us-east-1.rds.amazonaws.com',
                     port='5432',
                     user= 'DCZillow', 
                     password= 'DCZillow');

cur = con.cursor()

## Pull Aggregated Basic Business License Change by Zipcode

In [3]:
df_lic_sum = pdsql.read_sql("""SELECT * FROM license_summary_float""", con)

df_lic_sum.loc[:,'bbl_pct_chg_1617'] = df_lic_sum['growth_yoy']
df_lic_sum.loc[:,'bbl_pct_chg_1217'] = df_lic_sum['growth_yoy_5']

df_lic_sum1 = df_lic_sum[['zipcode', 'bbl_pct_chg_1617', 'bbl_pct_chg_1217']]
df_lic_sum1

    zipcode  bbl_pct_chg_1617  bbl_pct_chg_1217
0   20001.0         -0.006413         13.084848
1   20002.0          0.052114          6.374251
2   20003.0          0.419821          4.894286
3   20004.0          0.294461          5.830769
4   20005.0          0.217814         11.965517
5   20006.0          0.194030          5.779661
6   20007.0         -0.092703         10.072993
7   20008.0          0.063433         11.127660
8   20009.0          0.677718         22.250000
9   20010.0         -0.161587          1.720867
10  20011.0          0.562253         11.853659
11  20012.0          1.523560         23.717949
12  20015.0          0.342466         16.294118
13  20016.0         -0.422730         11.432836
14  20017.0         -0.496503          1.734177
15  20018.0          0.064186         36.508197
16  20019.0         -0.604412         10.955556
17  20020.0          0.429688          4.593886
18  20024.0          0.407048          4.253289
19  20032.0          0.267148         14.260870
20  20036.0         -0.142405          9.037037
21  20037.0          0.008273         21.159091

## Pull Basic Business License Category Change by Zipcode

In [4]:
df_lic_cat_xtab_6m= pdsql.read_sql("""SELECT * FROM lic_cat_crosstab_6m_yoy""", con)

df_lic_cat_xtab_6m.fillna(0)

,zipcode,barber_shop,cigarette_retail,delicatessen,food_products,parking_facility_attendant,grocery_store,special_events,charitable_solicitation,home_improvement_salesman,...,parking_facility,gen_contr_construction_mngr,consumer_goods_auto_repair,apartment,two_family_rental,home_improvement_contractor,general_business_licenses,patent_medicine,restaurant,one_family_rental
0,20016,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,-0.500000,...,0.000000,0.272727,0.000000,-0.230769,0.000000,0.000000,-0.448560,0.000000,-0.795322,0.104396
1,20005,0.0,0.000000,0.000000,0.000000,2.727273,0.000000,0.000000,3.566038,0.000000,...,-0.083333,-0.866197,0.000000,0.000000,0.000000,0.000000,0.320069,-0.875000,-0.457831,0.000000
2,20036,0.0,0.000000,0.000000,0.000000,-0.080000,0.000000,0.000000,0.753623,0.000000,...,-0.333333,0.222222,0.000000,0.000000,0.000000,0.000000,0.558659,0.000000,-0.758929,0.172589
3,20037,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,-0.333333,0.000000,0.000000,0.358209,0.000000,-0.023121,0.435583
4,20004,0.0,0.000000,2.666667,-0.571429,1.444444,0.000000,-0.571429,12.454545,0.000000,...,1.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.022727,-0.400000,-0.306452,-0.419643
5,20007,0.0,0.000000,1.272727,-0.950704,0.000000,0.000000,0.000000,1.555556,0.000000,...,-0.333333,0.000000,0.000000,4.906250,0.000000,0.000000,0.946602,0.000000,-0.746544,0.000000
6,20017,0.0,0.000000,3.666667,0.000000,0.000000,0.000000,0.000000,0.000000,0.200000,...,0.000000,0.000000,0.000000,1.107143,0.000000,0.000000,-0.637255,0.000000,0.000000,0.106557
7,20008,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.019802,0.000000,-0.375000,0.117438
8,20002,0.0,-0.150000,0.377778,2.057692,0.000000,1.055556,0.000000,0.640000,-0.090909,...,0.000000,0.029412,0.111111,-0.323442,0.057895,0.000000,-0.247232,-0.791667,0.500000,0.238158
9,20003,0.0,-0.944444,0.000000,0.000000,1.000000,0.000000,-0.500000,0.000000,-0.125000,...,0.000000,0.071429,0.000000,2.784314,0.120000,0.000000,0.090909,0.000000,1.765625,0.646552
10,20009,0.0,-0.421053,0.687500,0.000000,0.000000,0.000000,0.000000,8.472222,0.666667,...,0.000000,0.000000,0.000000,2.424779,-0.504132,0.000000,1.157464,0.000000,0.610294,0.217963
11,20011,0.0,0.062500,4.090909,0.250000,0.000000,2.000000,0.000000,2.272727,0.000000,...,0.000000,0.218750,0.000000,0.068376,0.176471,-0.333333,0.192118,-0.062500,0.666667,0.869081
12,20019,0.0,0.000000,0.000000,-0.222222,0.000000,0.000000,0.000000,0.000000,-0.400000,...,0.000000,-0.187500,0.000000,0.648438,0.000000,-0.333333,0.116667,0.000000,0.400000,-0.783041
13,20020,0.0,1.000000,2.900000,-0.300000,0.000000,0.000000,0.000000,0.000000,-0.100000,...,0.000000,0.000000,0.000000,-0.548673,0.000000,0.666667,0.415929,0.000000,0.266667,0.795620
14,20032,0.0,-0.250000,-0.307692,0.000000,0.000000,0.000000,0.000000,0.000000,-0.500000,...,0.000000,-0.357143,0.000000,0.548193,-0.379310,0.000000,0.777778,0.000000,0.000000,0.028436
15,20001,-0.8,0.068966,1.925926,-0.400000,2.200000,0.000000,-0.333333,0.560976,0.307692,...,0.000000,-0.877419,0.000000,0.039106,0.396694,-0.285714,0.544737,-0.375000,-0.094545,-0.252366
16,20024,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.021858,-0.250000,-0.260870,-0.236025
17,20010,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.571429,...,0.000000,0.416667,0.000000,0.240741,0.000000,0.000000,0.327451,-0.333333,-0.903002,0.729630
18,20012,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,1.500000,0.000000,0.000000,0.216216,0.000000,0.000000,1.753363
19,20015,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.625000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.888889,0.000000,0.000000,0.340909
20,20018,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.071429,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.155556,0.000000,-0.066667,-0.392773

## Pull ZHVI Change by Zipcode

In [5]:
df_zhvi= pdsql.read_sql("""SELECT * FROM zhvi""", con)

columns = ('mom','qoq','yoy','fiveyear','tenyear','peakmonth','peakmonth','peakquarter','pctfallfrompeak')
col_prefix = 'zhvi_'

for i in columns:
    newvar = col_prefix + str(i)
    df_zhvi.rename(columns={i : newvar}, inplace=True)
    
df_zhvi.rename(columns={'regionname' : 'zipcode'}, inplace=True)
df_zhvi.loc[:,'zhvi_peakmonth'] = pd.to_datetime(df_zhvi['zhvi_peakmonth'])
df_zhvi.loc[:,'lasttimeatcurrzhvi'] = pd.to_datetime(df_zhvi['lasttimeatcurrzhvi'])

df_zhvi1 = df_zhvi[['zipcode', 'sizerank', 'zhvi','zhvi_mom','zhvi_qoq','zhvi_yoy','zhvi_fiveyear','zhvi_tenyear',
                    'zhvi_peakmonth','peakzhvi','zhvi_pctfallfrompeak','lasttimeatcurrzhvi']]
df_zhvi1.fillna(0)

,zipcode,sizerank,zhvi,zhvi_mom,zhvi_qoq,zhvi_yoy,zhvi_fiveyear,zhvi_tenyear,zhvi_peakmonth,peakzhvi,zhvi_pctfallfrompeak,lasttimeatcurrzhvi
0,20009,27,565400,-0.006152,-0.005977,0.064383,0.052053,0.024720,2017-03-01,572200,-0.011884,2017-02-01
1,20002,28,612700,-0.007291,-0.003091,0.048246,0.101941,0.000000,2017-03-01,619900,-0.011615,2017-02-01
2,20011,140,568900,-0.003852,0.001408,0.107671,0.123579,0.037577,2017-03-01,573000,-0.007155,2017-03-01
3,20019,205,293900,0.006507,0.021195,0.136944,0.119687,0.020936,2017-05-01,293900,0.000000,2017-05-01
4,20001,265,647600,-0.004764,-0.005681,0.065657,0.083636,0.040571,2017-03-01,653800,-0.009483,2017-02-01
5,20020,361,307800,-0.006135,-0.010608,0.081518,0.114632,0.018479,2017-03-01,311800,-0.012829,2017-01-01
6,20008,1225,856100,-0.004072,0.003634,0.054570,0.044144,0.018017,2017-03-01,860100,-0.004651,2017-03-01
7,20032,1576,278300,0.012368,0.032653,0.108323,0.100896,0.014032,2017-05-01,278300,0.000000,2017-05-01
8,20016,1883,983100,-0.004557,-0.003548,0.052119,0.052494,0.026411,2017-03-01,991200,-0.008172,2017-02-01
9,20003,2048,742500,-0.004158,-0.010528,0.061472,0.077594,0.036841,2017-03-01,751200,-0.011581,2017-02-01
10,20010,2417,665300,-0.003744,-0.004787,0.042137,0.091722,0.043934,2017-03-01,671000,-0.008495,2017-02-01
11,20007,2448,960200,-0.005901,-0.005798,0.047110,0.050291,0.022360,2017-03-01,971800,-0.011937,2017-02-01
12,20005,4824,513700,-0.005421,-0.003492,0.060706,0.044807,0.023858,2017-03-01,519000,-0.010212,2017-02-01
13,20017,4983,514900,-0.004639,0.003704,0.130654,0.115956,0.036234,2017-03-01,519100,-0.008091,2017-03-01
14,20018,5062,511700,-0.005829,-0.004087,0.140660,0.120349,0.000000,2017-03-01,517500,-0.011208,2017-02-01
15,20024,5082,399000,-0.005979,-0.005236,0.061453,0.073634,0.021546,2017-03-01,404000,-0.012376,2017-02-01
16,20037,5520,518800,-0.006321,-0.005559,0.074343,0.035339,0.018313,2017-03-01,525200,-0.012186,2017-02-01
17,20015,6037,1018700,-0.011163,-0.013557,0.027019,0.043944,0.020771,2017-03-01,1039300,-0.019821,2017-02-01
18,20012,6543,723900,-0.001517,0.004858,0.100152,0.091015,0.036954,2017-03-01,726300,-0.003304,2017-03-01
19,20036,8427,380700,-0.013475,-0.019572,0.044444,0.040271,0.018705,2017-03-01,390200,-0.024346,2017-01-01
20,20004,10800,484100,-0.013651,-0.018053,0.073155,0.031183,0.020034,2017-03-01,495800,-0.023598,2017-01-01

In [4]:
test= pdsql.read_sql("""SELECT * FROM model_data_v1_1""", con)
test

Empty DataFrame
Columns: [lastsolddate_6, bedrooms, bathrooms, yearbuilt, lotsizesqft, taxassessment_6, finishedsqft, for_sale, zpid, street, city, state, zipcode, zestimate_1, zestimate_6, percentile_1, percentile_6, lastsoldprice_6, bedrooms_missing, bathrooms_missing, yearbuilt_missing, lotsizesqft_missing, finishedsqft_missing, target_2017, Log_lotsizesqft, Log_taxassessment_6, built_after_2000, sqft_lt1000, sqft_lt1500, sqft_lt2000, sqft_lt2500, sqft_ge2500]
Index: []

[0 rows x 32 columns]